<div class="advice">
	<div class="advice_modcontent advice_pos_content">
	  <h1 class="decortitle">Юридическая компания </h1>
	  <p>Юридическая компания КЕК в городе Минске гордится прочной репутацией надежного партнера, а клиенты с уверенностью доверяют решение юридических задач.</p>
	  <p>Миссия нашей юридической компании – увеличивать возможности и эффективность клиентов, оказывать юридические услуги, предоставлять правовую поддержку, сопровождение и консультации.</p>
	  <p>Упорно работая и всесторонне совершенствуя свои навыки, каждый наш юрист ориентирован исключительно на результат.</p>
	 <form id="contact" action="#" method="post" name="contact" class="consaltform">
	<div class="rsform-block rsform-block-formtitle">
		<div class="formBody"><b>Бесплатная </b><span>консультация</span></div>
			</div>
			
<div id="inline">


<input id="name" maxlength="50" class="txt" name="name" type="name" placeholder="Ваше имя" required />
 <input id="phone" maxlength="20" class="txt" name="phone" type="phone" placeholder="Ваш телефон" required/> 
<input id="email" maxlength="50" class="txt" name="email" type="email" placeholder="Ваш e-mail" required/> 
<textarea id="msg"maxlength="500" class="txtarea" name="msg" placeholder="Ваше сообщение:"></textarea>
 <button id="send">Отправить</button>
</form>
</div>
	 
	</div>

</div>
