<div class="banner" style="background: url(img/banner.jpg) 50% 50%/cover no-repeat;">
	<div class="banner-content">
		<div class="banner-content__main main-content">
			<div class="main-content__title">
				Всегда
				<br>
				есть решение
			</div>
			<div class="main-content__description content-description">
				<ul class="content-description__nomargin">
					<li><a href="#">Корпоративное право</a></li>
					<li><a href="#">Судебная практика</a></li>
					<li><a href="#">Лицензии, разрешения</a></li>
					<li><a href="#">Абонентское обслуживание</a></li>
				</ul>
			</div>
			<div class="banner-content__callback consult">
				<div class="consult-body">
					<div class="consult-body__title"><b>Бесплатная</b> консультация
					</div>
					<div class="consult-body__btns">
						<a href="#" class="btn">Заказать консультацию</a>
					</div>
					<div class="consult-body__descr">Закажите бесплатную<br>консультацию юриста</div>
				</div>
			</div>
		</div>
	</div>
	<div class="banner-scroll">
	</div>
</div>