<footer class="footer">
	<div class="footer-content">
		<span class="footer-content__logo">
			<span class="slogan">	
			</span>
		</span>
		<div class="footer-content__contacts">
			<div class="moduletable modheadcontacts">
				<a href="tel.+37259308312">(25) 939-17-43</a>
				<span class="divider">/</span>
				<a href="tel.+37259308312">(25) 939-17-43</a>
				<span class="divider">/</span>
				<a href="tel.+37259308312">(25) 939-17-43</a>
				<div class="callbackwrap">
					<a href="#" class="callbacklink">
						Обратный звонок
					</a>
				</div>
			</div>
		</div>
		<div class="nav">
			<ul class="menu">
				<li><a href="#" rel="nofollow">Услуги</a></li>
				<li><a href="#" rel="nofollow">Новости</a></li>
				<li><a href="#" rel="nofollow">Контакты</a></li>
			</ul>
		</div>
		<div class="footercallback">
			<div class="footercallback-content">
				<div class="footercallback-content__title">
					<b>Бесплатная</b>консультация
				</div>
				<div class="footercallback-content__btns">
				<a href="#" class="bnt">Заказать консультацию</a>
				</div>
			</div>
		</div>
		<div class="footersocial">
			<a href="" class="soc_fb"></a>
			<a href="" class="soc_tw"></a>
			<a href="" class="soc_in"></a>
			<a href="" class="soc_gp"></a>
		</div>
	</div>

</footer>
<script src="js/libs.js"></script>
<script src="js/main.js"></script>

</body>
</html>