<header class="header">
	<div class="header-content">
		<span class="logotext">
			<span class="slogan">
				Юридическая 
				<br>
				Компания
			</span>
		</span>
		<div class="headbar">
			<div class="moduletable modheadcontacts">
				<a href="tel.+37259308312">(25) 939-17-43</a>
				<span class="divider">/</span>
				<a href="tel.+37259308312">(25) 939-17-43</a>
				<span class="divider">/</span>
				<a href="tel.+37259308312">(25) 939-17-43</a>
				<div class="callbackwrap">
					<a href="#" class="callbacklink">
						Обратный звонок
					</a>
				</div>
			</div>
			<div class="moduletable modlang">
				<div class="activelang">ru</div>
			</div>
			<div class="opennav navbtn">
				<i></i>
				<i></i>
				<i></i>
			</div>
		</div>
		    
</header>