<div class="services">
	<div class="services-content">
		<div class="services-content__title"><span>Наши</span>
		услуги
		</div>
		<div class="services-content__list col4list flexboxlist">
			<div class="col4list-item">
				<div class="col4list-item__media">
			 		<img src="../img/ico_corp.png">
				</div>
				<a href="#" class="col4list-item__title">Корпоративное право</a>
				<ul class="col4list-item__nav">
					<li class="parent">
						<a href="#">Регистрация</a>
						<i class="showmore"></i>
							<ul class="nav">
							<li><a href="#">
								Регистрация ООО
							</a></li>
							<li><a href="#">
								Физическое лицо предприниматель (ФЛП)
							</a></li>
							<li><a href="#">
								Филиал, представительство
							</a></li>
							<li><a href="#">
								Общественное объединение
							</a></li>
							<li><a href="#">
								Благотворительный фонд
							</a></li>
							<li><a href="#">
								Объединение совладельцев многоквартирного дома (ОСМД)
							</a></li>
						</ul>
					</li>
					<li class="parent">
						<a href="#">Регистрация изменений</a>
						<i class="showmore"></i>
							<ul class="nav">
							<li><a href="#">
								Смена учредителя
							</a></li>
							<li><a href="#">
								Смена директора
							</a></li>
							<li><a href="#">
								Смена юридического адреса
							</a></li>
							<li><a href="#">
								Смена уставного капитала
							</a></li>
							<li><a href="#">
								Смена названия компании
							</a></li>
							<li><a href="#">
								Смена КВЭД
							</a></li>
							<li><a href="#">
								Внесение в реестр неприбыльных организаций
							</a></li>
						</ul>
					</li>
					<li class="par">
						<a href="#">Регистрация иностранных компаний и представительств</a>
					</li>
					<li class="parent">
						<a href="#">Ликвидация</a>
						<i class="showmore"></i>
							<ul class="nav">
							<li><a href="#">
								Ликвидация ООО
							</a></li>
							<li><a href="#">
								Закрытие ФЛП
							</a></li>
							<li><a href="#">
								Банкротство предприятия
							</a></li>
							</ul>
					</li>
				</ul>
			</div>



			<div class="col4list-item">
				<div class="col4list-item__media">
			 		<img src="../img/ico_sud.png">
				</div>
				<a href="#" class="col4list-item__title">Судебная практика</a>
				<ul class="col4list-item__nav">
					<li class="parent">
						<a href="#">Представительство в суде</a>
						<i class="showmore"></i>
							<ul class="nav">
							<li><a href="#">
								Участие в судебных заседаниях
							</a></li>
							<li><a href="#">
								Подготовка процессуальных документов
							</a></li>
							</ul>
					</li>
					<li>
						<a href="#">Исполнение решения суда</a>
					</li>
					<li class="parent par">
						<a href="#">Досудебное урегулирование споров</a>
						<i class="showmore"></i>
						<ul class="nav">
							<li><a href="#">
								Медиация
							</a></li>
							<li><a href="#">
								Составление претензий
							</a></li>
							</ul>
					</li>
					<li class="parent">
						<a href="#">Судебные споры</a>
						<i class="showmore"></i>
						<ul class="nav">
							<li><a href="#">
								Хозяйственные споры
							</a></li>
							<li><a href="#">
								Земельные споры
							</a></li>
							<li><a href="#">
								Налоговые споры
							</a></li>
							<li><a href="#">
								Гражданские споры
							</a></li>
							<li><a href="#">
								Семейные споры
							</a></li>
							<li><a href="#">
								Договорные споры
							</a></li>
							<li><a href="#">
								Трудовые споры
							</a></li>
							<li><a href="#">
								Взыскание задолженности
							</a></li>
							<li><a href="#">
								Возмещенине ущерба
							</a></li>
							<li><a href="#">
								Страховые споры
							</a></li>
							<li><a href="#">
								Споры по недвижимости
							</a></li>
							<li><a href="#">
								Наследственные споры
							</a></li>
						</ul>
					</li>
				</ul>
			</div>




			<div class="col4list-item">
				<div class="col4list-item__media">
			 		<img src="../img/ico_licenz.png">
				</div>
				<a href="#" class="col4list-item__title">Интеллектуальная собственность</a>
				<ul class="col4list-item__nav">
					<li>
						<a href="#">Патентирование</a>
					</li>
					<li>
						<a href="#">Торговая марка</a>
					</li>
					<li>
						<a href="#">Составление договоров</a>
					</li>
					<li class="parent">
						<a href="#">Смотреть все</a>
						<i class="showmore"></i>
						<ul class="nav">
							<li><a href="#">
								Защита ИС
							</a></li>
							<li><a href="#">
								Авторское право
							</a></li>
							<li><a href="#">
								Нерезидентам
							</a></li>
							<li><a href="#">
								Сорта растений
							</a></li>
						</ul>
					</li>
				</ul>
			</div>




			<div class="col4list-item">
				<div class="col4list-item__media">
			 		<img src="../img/ico_abon.png">
				</div>
				<a href="#" class="col4list-item__title">Абонентское обслуживание</a>
				<ul class="col4list-item__nav">
					<li>
						<a href="#">Юридическое сопровождение</a>
					</li>
					<li>
						<a href="#">Бухгалтерское сопровождение</a>
					</li>
				</ul>
			</div>
		
		</div>
	</div>
</div>