.about
	background: url("../img/cytatabg.jpg") 50% 0%/cover no-repeat
	color: #3e465a
	+rfs(18px)
	line-height: 30px
	font-style: italic
	text-align: left
	min-height: 555px 
	.content
		padding: 155px 0 155px 630px
		margin: 0 auto
		width: 1170px
		.qoute
			margin: 0
			-webkit-box-sizing: border-box
			-moz-box-sizing: border-box
			box-sizing: border-box

		.autor
			&:before
			 	content: ""
			 	position: absolute 
			 	width: 42px
			 	height: 4px
			 	top: 0
			 	left: 0
			 	background: #f00
			position: relative
			margin: 24px 0 0 0
			padding: 24px 0 0 0
			color: #6f7992
			+rfs(15px) 
			b
				display: block
				width: 100%
				+rfs(25px)
				font-weight: 700 